.div_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../images/DETAILS\ -\ COUNTRY.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: -0.25%;
}

.div_detail {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 95% 5%;
  align-items: center;
  border: solid 4px gray;
  background: rgba(131, 141, 167, 0.75);
  border-radius: 16px;
  padding: 2.5rem;
  margin: 5rem;
  font-size: 40px
}

.div_date_country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_each_activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_all_activities {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 20px 20px;
}

.div_activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px green;
  background: rgba(46, 169, 118, 0.75);
  border-radius: 16px;
  margin: 16px 16px 16px 16px;/*Arriba, ->, Abajo, <-*/
  padding: 0 18px 0 18px;/*Arriba, ->, Abajo, <-*/
}

.btn_delete {
  border: solid 0.1em red;
  border-radius: 0.25em;
  font-size: 0.8em;
  background: rgba(178, 55, 55, 0.73);
  margin: 1em;
  padding: 0.1em 0.25em 0.1em 0.25em;
  cursor: pointer;
}

.btn {
  border: solid 0.1em rgb(0, 204, 255);
  border-radius: 8px;
  background: rgba(60, 182, 209, 0.75);
  margin: 0 0 0.5em 15em;
  padding: 0.1em 0.25em 0.1em 0.25em;
  font-size: 1em;
  cursor: pointer;
}

.h1_errors {
  border: solid 4px red;
  font-size: 100px;
  background-color: black;
  color: red;
  margin-top: 400px;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
}