.div_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../images/DETAILS\ -\ COUNTRY.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.div_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px gray;
  background: rgba(131, 141, 167, 0.75);
  border-radius: 16px;
  margin: 20px 0 20px 0;
  font-size: 40px
}

.div_all_activities {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 20px 20px;
}

.div_activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px green;
  background: rgba(46, 169, 118, 0.75);
  border-radius: 16px;
  margin: 16px 16px 16px 16px;/*Arriba, ->, Abajo, <-*/
  padding: 0 18px 0 18px;/*Arriba, ->, Abajo, <-*/
}

.btn {
  border: solid 2px red;
  border-radius: 8px;
  background: rgba(209, 60, 60, 0.75);
  margin: 0 0 20px 0;
  padding: 2px 8px 8px 8px;
  font-size: 35px;
  cursor: pointer;
}

.h1_errors {
  border: solid 4px red;
  font-size: 100px;
  background-color: black;
  color: red;
  margin-top: 400px;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
}