
/* ? Centrando el "div */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px blue;
  /* background-image: url('https://m.media-amazon.com/images/I/81T6SF549eL._AC_UF894,1000_QL80_.jpg'); */
  background-image: url('https://media.giphy.com/media/a8yAv6o6GJtcI/giphy.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.h2 {
  border: solid 1px red;
  font-size: 80px;
}

.button {
  border: solid 3px green;
  border-radius: 8px;
  font-size: 50px;
}

.button:hover {
  color: gray;
  background: blue;
  box-shadow: 0 0 10px blue, 0 0 40px blue, 0 0 80px blue;
  transition-delay: 0.1s;
}