.div_princial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../images/IMG-HOME.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn_Link {
  border: solid 4px blue;
  background:  rgba(29, 133, 86, 0.75);/** OPACIDAD */
  font-size: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.btn_click {
  border: solid 4px violet;
  background:  rgba(20, 91, 130, 0.75);
  font-size: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.h2_msg_errors {
  color: red;
  background-color: black;
  border: solid 4px red;
  border-radius: 8px;
  padding: 2px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  font-size: 80px;
}

.div_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}