.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../images/DETAILS\ -\ COUNTRY.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: -0.4%;
  font-size: 2rem;
}

.activities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.activity {
  border: solid 4px green;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(46, 169, 118, 0.75);
  border-radius: 1rem;
  margin: 1rem;
  padding: 0 1.1rem;
}

.btns_changes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn_delete {
  border: solid 0.1em red;
  border-radius: 0.25em;
  font-size: 0.8em;
  background: rgba(178, 55, 55, 0.73);
  margin: 1em;
  padding: 0.1em 0.25em 0.1em 0.25em;
  cursor: pointer;
}

.btn_Link {
  border: solid .1em blue;
  background:  rgba(29, 116, 133, 0.75);/** OPACIDAD */
  font-size: 0.85em;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 1em;
}

.btn_return {
  border: solid 0.1em rgb(0, 204, 255);
  border-radius: 0.5rem;
  background: rgba(60, 182, 209, 0.75);
  margin: 3rem 50rem;
  font-size: 1.5em;
  cursor: pointer;
}