.div_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  /* font-size: 80px; */
  background-image: url('../../images/Create_Activity.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.div_form {
  display: flex;
  background: rgba(5,7,12,0.75); /** OPACIDAD DEL FORMULARIO */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 40px 60px 40px 60px;
  border-radius: 8px;
  font-size: 20px;
}

.div_label {
  display: flex;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;
  color: rgb(159, 159, 10);
  font-size: 60px;
}

.div_input {
  border: solid 5px green;
  border-radius: 8px;
  font-size: 40px;
  margin: 10px 20px 10px 20px;
}

.div_select {
  border: solid 5px green;
  border-radius: 8px;
  background: rgba(95, 205, 161, 0.543);
  font-size: 40px;
  margin: 10px 20px 10px 20px;
  cursor: pointer;
}

.div_text {
  color: red;
  text-align: center;
  font-size: 30px;
}

.btn {
  border: solid 4px aqua;
  border-radius: 8px;
  font-size: 40px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.div_errors {
  color: red;
  font-size: 40px;
  border-radius: 8px;
  padding: 5px 15px 10px 15px;
}