.div_principal {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 4px purple;
  background-color: black;
}

.h1 {
  color: red;
  font-size: 150px;
  border: solid 2px yellow;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
}

.btn {
  color: green;
  background-color: yellow;
  font-size: 100px;
  border-radius: 8px;
}